<form [formGroup]="userForm" (ngSubmit)="editUser()">
  <div class="row">
    <div class="col-5">
      <div *ngIf="!isEditing; else editForm" class="animate__animated animate__fadeIn">
        <div class="mb-3 d-flex">
          <label class="form-label">Nombre: </label>
          <label class="form-text ps-2"> {{ user.name }}</label>
        </div>
        <div class="mb-3 d-flex">
          <label class="form-label">Email: </label>
          <label class="form-text ps-3"> {{ user.email }}</label>
        </div>
        <div class="mb-3 d-flex">
          <label class="form-label">Rol: </label>
          <span class="form-text ps-3"> {{ user.role }}</span>
        </div>
      </div>
      <ng-template #editForm>
        <div class="animate__animated animate__fadeIn">
          <div class="mb-3">
            <label class="form-label">Nombre: </label>
            <input type="text" class="form-control" formControlName="name">
            <span errorMessage [valid]="!tieneError('name', 'required')" message="El nombre es obligatorio"></span>
          </div>
          <div class="mb-3">
            <label class="form-label">Email: </label>
            <input type="email" readonly class="form-control" formControlName="email">
          </div>
          <div class="mb-3">
            <label class="form-label">Contraseña actual: </label>
            <input type="password" class="form-control" formControlName="password">
            <span errorMessage [valid]="!tieneError('password', 'minlength')"
              message="La contraseña debe contener al menos 6 caracteres"></span>
            <span errorMessage [valid]="!tieneError('password', 'oldPasswordRequired')"
              message="Necesita escribir su contraseña anterior para actualizarla"></span>
          </div>
          <div class="mb-3">
            <label class="form-label">Nueva contraseña: </label>
            <input type="password" class="form-control" formControlName="password2">
            <span errorMessage [valid]="!tieneError('password2', 'minlength')"
              message="La contraseña debe contener al menos 6 caracteres"></span>
            <span errorMessage [valid]="!tieneError('password2', 'passwordAreEqual')"
              message="La nueva contraseña no puede ser igual a la anterior"></span>
            <span errorMessage [valid]="!tieneError('password2', 'newPasswordRequired')"
              message="Necesita establecer una nueva contraseña para actualizarla"></span>
          </div>
          <div class="mb-3">
            <label class="form-label">Rol: </label>
            <span class="form-text"> {{ user.role }}</span>
          </div>
          <div>
            <button type="submit" class="btn btn-success float-start">Enviar</button>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="col-7">
      <div *ngIf="!isEditing; else selectAvatar" class="animate__animated animate__fadeIn">
        <label>Avatar: </label>
        <img [src]="user.img || getAvatar(avatars.length-1)" style="width: 240px; height: 200px;">
      </div>
      <ng-template #selectAvatar>
        <ul class="d-flex justify-content-evenly flex-wrap animate__animated animate__fadeIn">
          <li><input type="radio" id="img1" [value]="getAvatar(0)" formControlName="img" />
            <label class="imageLabel" for="img1"><img [src]="getAvatar(0)" /></label>
          </li>
          <li><input type="radio" id="img2" [value]="getAvatar(1)" formControlName="img" />
            <label class="imageLabel" for="img2"><img [src]="getAvatar(1)" /></label>
          </li>
          <li><input type="radio" id="img3" [value]="getAvatar(2)" formControlName="img" />
            <label class="imageLabel" for="img3"><img [src]="getAvatar(2)" /></label>
          </li>
          <li><input type="radio" id="img4" [value]="getAvatar(3)" formControlName="img" />
            <label class="imageLabel" for="img4"><img [src]="getAvatar(3)" /></label>
          </li>
          <li><input type="radio" id="img5" [value]="getAvatar(4)" formControlName="img" />
            <label class="imageLabel" for="img5"><img [src]="getAvatar(4)" /></label>
          </li>
          <li><input type="radio" id="img6" [value]="getAvatar(5)" formControlName="img" />
            <label class="imageLabel" for="img6"><img [src]="getAvatar(5)" /></label>
          </li>
          <li><input type="radio" id="img7" [value]="getAvatar(6)" formControlName="img" />
            <label class="imageLabel" for="img7"><img [src]="getAvatar(6)" /></label>
          </li>
          <li><input type="radio" id="img8" [value]="getAvatar(7)" formControlName="img" />
            <label class="imageLabel" for="img8"><img [src]="getAvatar(7)" /></label>
          </li>
          <li><input type="radio" id="img9" [value]="getAvatar(8)" formControlName="img" />
            <label class="imageLabel" for="img9"><img [src]="getAvatar(8)" /></label>
          </li>
          <li><input type="radio" id="img10" [value]="getAvatar(9)" formControlName="img" />
            <label class="imageLabel" for="img10"><img [src]="getAvatar(9)" /></label>
          </li>
          <li><input type="radio" id="img11" [value]="getAvatar(10)" formControlName="img" />
            <label class="imageLabel" for="img11"><img [src]="getAvatar(10)" /></label>
          </li>
          <li><input type="radio" id="img12" [value]="getAvatar(11)" formControlName="img" />
            <label class="imageLabel" for="img12"><img [src]="getAvatar(11)" /></label>
          </li>
          <li><input type="radio" id="img13" [value]="getAvatar(12)" formControlName="img" />
            <label class="imageLabel" for="img13"><img [src]="getAvatar(12)" /></label>
          </li>
          <li><input type="radio" id="img14" [value]="getAvatar(13)" formControlName="img" />
            <label class="imageLabel" for="img14"><img [src]="getAvatar(13)" /></label>
          </li>
          <li><input type="radio" id="img15" [value]="getAvatar(14)" formControlName="img" />
            <label class="imageLabel" for="img15"><img [src]="getAvatar(14)" /></label>
          </li>
          <li><input type="radio" id="img16" [value]="getAvatar(15)" formControlName="img" />
            <label class="imageLabel" for="img16"><img [src]="getAvatar(15)" /></label>
          </li>
          <li><input type="radio" id="img17" [value]="getAvatar(16)" formControlName="img" />
            <label class="imageLabel" for="img17"><img [src]="getAvatar(16)" /></label>
          </li>
          <li><input type="radio" id="img18" [value]="getAvatar(17)" formControlName="img" />
            <label class="imageLabel" for="img18"><img [src]="getAvatar(17)" /></label>
          </li>
          <li><input type="radio" id="img19" [value]="getAvatar(18)" formControlName="img" />
            <label class="imageLabel" for="img19"><img [src]="getAvatar(18)" /></label>
          </li>
          <li><input type="radio" id="img20" [value]="getAvatar(19)" formControlName="img" />
            <label class="imageLabel" for="img20"><img [src]="getAvatar(19)" /></label>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</form>
<div class="mb-3">
  <button class="btn btn-dark" style="position: absolute; bottom: -40px; left: -50px;"
    (click)="editar()">Editar</button>
</div>
<div>
  <button class="btn btn-danger float-end" style="position: absolute; bottom: -40px; right: -50px;"
    (click)="deleteUser()">
    Eliminar usuario
  </button>
</div>
