<form [formGroup]="userForm" (ngSubmit)="editUser()" class="p-2">
  <div class="row">
    <div class="col-12">
      <div class="col-10 position-relative" style="margin-bottom: 120px;">
        <div class="d-flex justify-content-center align-items-center" style="position: absolute; top: -110px; left: 0;">
          <!-- <label>Avatar: </label> -->
          <img [src]="avatar" class="avatar-image">
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 col-sm-10 d-flex justify-content-center">
          <div *ngIf="!isEditing; else editForm" class="animate__animated animate__fadeIn">
            <div class="mb-3 d-flex">
              <label class="form-label">Nombre: </label>
              <label class="form-text ps-2"> {{ user.name }}</label>
            </div>
            <div class="mb-3 d-flex">
              <label class="form-label">Email: </label>
              <label class="form-text ps-3"> {{ user.email }}</label>
            </div>
            <div class="mb-3 d-flex">
              <label class="form-label">Rol: </label>
              <span class="form-text ps-3"> {{ user.role }}</span>
            </div>
          </div>
          <ng-template #editForm>
            <div class="animate__animated animate__fadeIn">
              <div class="mb-3">
                <label class="form-label">Nombre: </label>
                <input type="text" class="form-control" formControlName="name">
                <span errorMessage [valid]="!tieneError('name', 'required')" message="El nombre es obligatorio"></span>
              </div>
              <div class="mb-3">
                <label class="form-label">Email: </label>
                <input type="email" readonly class="form-control" formControlName="email">
              </div>
              <div class="mb-3">
                <label class="form-label">Contraseña actual: </label>
                <input type="password" class="form-control" formControlName="password">
                <span errorMessage [valid]="!tieneError('password', 'minlength')"
                  message="La contraseña debe contener al menos 6 caracteres"></span>
                <span errorMessage [valid]="!tieneError('password', 'oldPasswordRequired')"
                  message="Necesita escribir su contraseña anterior para actualizarla"></span>
              </div>
              <div class="mb-3">
                <label class="form-label">Nueva contraseña: </label>
                <input type="password" class="form-control" formControlName="password2">
                <span errorMessage [valid]="!tieneError('password2', 'minlength')"
                  message="La contraseña debe contener al menos 6 caracteres"></span>
                <span errorMessage [valid]="!tieneError('password2', 'passwordAreEqual')"
                  message="La nueva contraseña no puede ser igual a la anterior"></span>
                <span errorMessage [valid]="!tieneError('password2', 'newPasswordRequired')"
                  message="Necesita establecer una nueva contraseña para actualizarla"></span>
              </div>
              <div class="mb-3">
                <label class="form-label">Rol: </label>
                <span class="form-text"> {{ user.role }}</span>
              </div>
              <div>
                <button type="submit" class="btn btn-success float-start">Enviar</button>
              </div>
            </div>
          </ng-template>
        </div>
        <div class="col-md-5 col-sm-10">
          <div *ngIf="isEditing">
            <div class="mb-1">
              <label class="form-label">Subir avatar: </label>
              <input id="file" type="file" class="file-upload-btn" (change)="avatarUpload($event)">
              <label for="file">Elige archivo</label>
            </div>
            <div class="mb-3 pos-relative">
              <div *ngIf="_defaultAvatars === true" class="corner-top"><svg viewBox="0 0 500 150"
                  preserveAspectRatio="none" style="height: 100%; width: 100%;">
                  <path d="M499.72,-0.48 C501.41,152.45 4.80,152.45 3.11,153.45 L501.41,154.44 L499.72,-2.45 Z"
                    style="stroke: none; fill: #d1d3eb;"></path>
                </svg></div>
              <button type="button" class="btn btn-block"
                [ngClass]="{'default-avatars-btn-actived': _defaultAvatars === true && innerWidth >= 570}"
                (click)="defaultAvatars()" *ngIf="innerWidth >= 570">Avatares</button>
              <div *ngIf="_defaultAvatars === true" class="corner-bot"><svg viewBox="0 0 500 150"
                  preserveAspectRatio="none" style="height: 100%; width: 100%;">
                  <path d="M499.72,-0.48 C501.41,152.45 4.80,152.45 3.11,153.45 L501.41,154.44 L499.72,-2.45 Z"
                    style="stroke: none; fill: #d1d3eb;"></path>
                </svg></div>
            </div>
            <div class="d-flex justify-content-center">
              <img [src]="fileUrl" alt="new avatar" *ngIf="fileUrl !== ''"
                style="object-fit: cover; max-width: 150px; border-radius: 15px;">
            </div>
            <div *ngIf="_defaultAvatars || innerWidth <= 570"
              [ngClass]="{'default-avatars': _defaultAvatars === true, 'd-block': innerWidth <= 570 && isEditing}">
              <span *ngIf="innerWidth <= 570">Avatares por defecto: </span>
              <ul class="d-flex justify-content-evenly flex-wrap animate__animated animate__fadeIn">
                <li><input type="radio" id="img1" [value]="getAvatar(0)" formControlName="img" />
                  <label class="imageLabel" for="img1"><img [src]="getAvatar(0)" /></label>
                </li>
                <li><input type="radio" id="img2" [value]="getAvatar(1)" formControlName="img" />
                  <label class="imageLabel" for="img2"><img [src]="getAvatar(1)" /></label>
                </li>
                <li><input type="radio" id="img3" [value]="getAvatar(2)" formControlName="img" />
                  <label class="imageLabel" for="img3"><img [src]="getAvatar(2)" /></label>
                </li>
                <li><input type="radio" id="img4" [value]="getAvatar(3)" formControlName="img" />
                  <label class="imageLabel" for="img4"><img [src]="getAvatar(3)" /></label>
                </li>
                <li><input type="radio" id="img5" [value]="getAvatar(4)" formControlName="img" />
                  <label class="imageLabel" for="img5"><img [src]="getAvatar(4)" /></label>
                </li>
              </ul>
            </div>
          </div>
          <div class="row d-flex align-items-end pos-relative animate__animated animate__fadeIn">
            <div class="mb-3 mt-5">
              <button type="button" class="btn edit-btn btn-block" (click)="editar()">Editar</button>
            </div>
            <div class="mb-3">
              <button type="button" class="btn delete-btn btn-block" (click)="deleteUser()">
                Eliminar usuario
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
