<form autocomplete="off" [formGroup]="newUserForm" (ngSubmit)="customSubmit()" class="p-5">
  <div class="row">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink>Datos</a>
        <ng-template ngbNavContent>
          <div class="col-12">
            <div class="mb-3">
              <label class="form-label">Nombre: </label>
              <input type="text" class="form-control" formControlName="name">
              <span errorMessage [valid]="!tieneError('name', 'required')" message="El nombre es obligatorio"></span>
            </div>
            <div class="mb-3">
              <label class="form-label">E-mail: </label>
              <input type="email" class="form-control" formControlName="email">
              <span errorMessage [valid]="!tieneError('email', 'required')" message="El email es obligatorio"></span>
              <span errorMessage [valid]="!tieneError('email', 'email')" message="No es un email válido"></span>
            </div>
            <div class="mb-3">
              <label class="form-label">Password: </label>
              <input type="password" class="form-control" formControlName="password">
              <span errorMessage [valid]="!tieneError('password', 'required')"
                message="La contraseña es requerida"></span>
              <span errorMessage [valid]="!tieneError('password', 'minlength')"
                message="La contraseña debe tener al menos 6 caracteres"></span>
            </div>
            <div class="mb-3">
              <label class="form-label">Confirmar password: </label>
              <input type="password" class="form-control" formControlName="password2">
              <span errorMessage [valid]="!tieneError('password2', 'required')"
                message="Debe validar la contraseña"></span>
              <span errorMessage [valid]="!tieneError('password2', 'passwordMissmatch')"
                message="Ambas contraseñas deben ser iguales"></span>
            </div>
            <div class="mb-3" *adminOnly>
              <label class="form-label">Rol: </label>
              <div class="form-check">
                <label class="form-check-label"><input type="radio" class="form-check-input" value="USER_ROLE" checked
                    formControlName="role">Usuario</label>
              </div>
              <div class="form-check">
                <label class="form-check-label"><input type="radio" class="form-check-input" value="ADMIN_ROLE"
                    formControlName="role">Administrador</label>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Avatar</a>
        <ng-template ngbNavContent>
          <div class="col-12">
            <div class="mb-1">
              <label class="form-label">Subir avatar: </label>
              <input id="file" type="file" class="file-upload-btn" (change)="avatarUpload($event)">
              <label for="file">Elige archivo</label>
            </div>
            <div class="d-flex justify-content-center">
              <img [src]="fileUrl" alt="new avatar" *ngIf="fileUrl !== ''"
                style="object-fit: cover; max-width: 150px; border-radius: 15px;">
            </div>
            <div class="d-block">
              <span>Avatares por defecto: </span>
              <ul class="d-flex flex-wrap justify-content-evenly">
                <li><input type="radio" id="img1" [value]="getAvatar(0)" formControlName="img" />
                  <label class="imageLabel" for="img1"><img [src]="getAvatar(0)" /></label>
                </li>
                <li><input type="radio" id="img2" [value]="getAvatar(1)" formControlName="img" />
                  <label class="imageLabel" for="img2"><img [src]="getAvatar(1)" /></label>
                </li>
                <li><input type="radio" id="img3" [value]="getAvatar(2)" formControlName="img" />
                  <label class="imageLabel" for="img3"><img [src]="getAvatar(2)" /></label>
                </li>
                <li><input type="radio" id="img4" [value]="getAvatar(3)" formControlName="img" />
                  <label class="imageLabel" for="img4"><img [src]="getAvatar(3)" /></label>
                </li>
                <li><input type="radio" id="img5" [value]="getAvatar(4)" formControlName="img" />
                  <label class="imageLabel" for="img5"><img [src]="getAvatar(4)" /></label>
                </li>
              </ul>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    <div class="row mb-3 justify-content-center">
      <div class="wrap-login-form-btn">
        <div class="login-form-background-btn"></div>
        <button type="submit" class="btn btn-dark registerButton">Registro</button>
      </div>
    </div>
  </div>
</form>
