<select class="form-control">
  <option selected disabled hidden>---Seleccione---</option>
  <option value="acción">Acción</option>
  <option value="animación">Animación</option>
  <option value="aventura">Aventura</option>
  <option value="biografía">Biografía</option>
  <option value="ciencia_ficción">Ciencia Ficción</option>
  <option value="comedia">Comedia</option>
  <option value="crimen">Crimen</option>
  <option value="deporte">Deporte</option>
  <option value="documental">Documental</option>
  <option value="drama">Drama</option>
  <option value="erótica">Erótica</option>
  <option value="familiar">Familiar</option>
  <option value="fantasía">Fantasia</option>
  <option value="guerra">Guerra</option>
  <option value="historia">Historia</option>
  <option value="misterio">Misterio</option>
  <option value="musical">Musical</option>
  <option value="romance">Romance</option>
  <option value="suspense">Suspense</option>
  <option value="thriller">Thriller</option>
  <option value="terror">Terror</option>
  <option value="western">Western</option>
</select>
