<div class="container pt-5">
  <div class="row">
    <div class="col-5 d-flex justify-content-evenly">
      <img [src]="film.img" alt="pelicula" style="max-width: 300px; max-height: 450px; border-radius: 10px;">
    </div>
    <div class="col-5">
      <h1>{{ film.titulo | titlecase }}</h1>
      <h3>Estreno: {{ film.estreno }}</h3>
      <h3>Duración: {{ film.duracion }} minutos</h3>
      <h3>Género: {{ film.genero | titlecase}}</h3>
      <div class="comment-container" style="background-color: transparent !important;">
        <big-stars [initial_stars]="film.puntuacion_media! / 2" *ngIf="film.puntuacion_media! >= 0" color="#11101d">
        </big-stars>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="mb-3">
      <p style="text-align: center;"> Comentarios: {{ comentarios.length }} </p>
      <div *ngFor="let coment of comentarios; let i = index" class="container">
        <div class="container">
          <div class="comment-container">
            <app-single-comment [comment]="coment" *ngIf="!isMyComment(coment)">
            </app-single-comment>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container mt-5">
  <div class="container me-3 ms-3">
    <div class="comment-container">
      <div class="animate__animated animate__fadeIn"
        *ngIf="editComment === false && isLogged === true; else sinComentario">
        <app-single-comment [comment]="comentario" [editar]="true" (onEdit)="setEditar($event)"
          (onDelete)="delete($event)" *ngIf="comentario"></app-single-comment>
      </div>
      <ng-template #sinComentario>
        <div *ngIf="isLogged === true; else noLogin" class="animate__animated animate__fadeIn">
          <app-edit-comment [comment]="comentario" (onEdit)="comment($event)" (onCancel)="setEditar($event)">
          </app-edit-comment>
        </div>
        <ng-template #noLogin>
          <p style="text-align: center;">Necesita estar logueado para comentar</p>
          <p style="text-align: center;">¿Ya tienes cuenta? Logueate <a routerLink="/auth/login">aquí</a></p>
          <p style="text-align: center;">¿Aún no eres miembro? <a routerLink="/auth/register">Regístrate</a></p>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
<div class="pb-5"></div>
