<div class="row film-info">
  <div class="col-md-5 col-sm-10 justify-content-center d-flex">
    <img [src]="filmImage" alt="pelicula">
  </div>
  <div class="col-md-5 col-sm-10 ">
    <h1>{{ film.titulo | titlecase }}</h1>
    <h3>Estreno: {{ film.estreno }}</h3>
    <h3>Duración: {{ film.duracion }} minutos</h3>
    <h3>Género: {{ film.genero | titlecase}}</h3>
    <div class="comment-container" style="background-color: transparent !important;">
      <big-stars [initial_stars]="film.puntuacion_media! / 2" *ngIf="film.puntuacion_media! >= 0" color="#11101d"
        [size]="screen">
      </big-stars>
    </div>
  </div>
</div>
