.cardCustom {
  width: 200px;
  height: 300px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  background-position: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

.cardCustom:after {
  position: absolute;
  bottom: 0px;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  height: 100px;
  width: 100%;
  transition: all linear 0.25s;
}

.cardCustom img {
  height: 100%;
  transition: all linear 0.25s;
}

.customName {
  position: absolute;
  left: 10px;
  bottom: 30px;
  font-size: 18px;
  color: #FFF;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  transition: all linear 0.25s;
  z-index: 10;
}

.customNameSmall {
  position: absolute;
  left: 10px;
  bottom: 30px;
  font-size: 16px;
  color: #FFF;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  transition: all linear 0.25s;
  z-index: 10;
}

.customYear {
  position: absolute;
  bottom: 20px;
  left: 10px;
  color: #FFF;
  font-size: 13px;
  transition: all linear 0.25s;
  z-index: 10;
}

.customRating {
  position: absolute;
  bottom: -40px;
  left: 10px;
  transition: all linear 0.25s;
}

.customBorrar {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
}

.customEdit {
  position: absolute;
  top: 45px;
  right: 5px;
  z-index: 10;
}

.cardCustom:hover img {
  filter: grayscale(100%);
  transform: scale(110%);
}

.cardCustom:hover:after {
  background-color: rgba(0, 0, 0, 1);
  height: 150px;
}

.cardCustom:hover .customName {
  bottom: 70px;
  font-size: 23px;
}

.cardCustom:hover .customNameSmall {
  bottom: 70px;
  font-size: 17px;
}

.cardCustom:hover .customYear {
  bottom: 60px;
  font-size: 15px;
}

.cardCustom:hover .customRating {
  bottom: 30px;
}

@media screen and (max-width: 570px) {
  .cardCustom {
    width: 150px;
    height: 200px;
  }
  .customNameSmall {
    font-size: 13px;
  }
  .cardCustom:hover .customName {
    bottom: 70px;
    font-size: 20px;
  }
  .cardCustom:hover .customNameSmall {
    bottom: 70px;
    font-size: 15px;
  }
  .card-custom:hover .customYear {
    bottom: 50px;
    font-size: 13px;
  }
}
