<div class="row">
  <small>Total: {{ total }}</small>
  <div style="min-height: 75vh;" class="row row-cols-auto justify-content-evenly">
    <app-film-card *ngFor="let film of films" class="mb-3 mt-3" [film]="film" (filmDeleted)="filmDeleted()">
    </app-film-card>
  </div>
  <div>
    <button class="btn btn-dark btn-pagination" (click)="prevPage()" *ngIf="hasPrevPage"><i
        class='bx bx-chevron-left'></i></button>
    <button class="btn btn-dark float-end btn-pagination" (click)="nextPage()" *ngIf="hasNextPage"><i
        class='bx bx-chevron-right'></i></button>
  </div>
</div>
