@font-face {
  font-family: Poppins-Medium;
  src: url('assets/fonts/poppins/Poppins-Medium.ttf');
}

* {
  font-family: Poppins-Medium;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* film container */

.hidden {
  display: none;
}

.filmContainer {
  min-height: 100vh;
  height: 100%;
  min-width: 100vw;
  width: 100%;
  background: url('assets/images/backgrounds/back5.jpg') no-repeat center center fixed;
}

.filmContainer2 {
  min-height: 100vh;
  height: 100%;
  min-width: 100vw;
  width: 100%;
  background: linear-gradient(45deg, #a1b7d8, #1bc4e1, #fb00ff, #89339e);
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: gradient 15s ease infinite;
}

.filmContainer3 {
  min-height: 100vh;
  height: 100%;
  min-width: 100vw;
  width: 100%;
  background: url('assets/images/bg-01.jpg') no-repeat center center fixed;
  background-size: cover;
}

@media screen and (max-width: 570px) {
  .filmContainer, .filmContainer2, .filmContainer3 {
    padding-top: 100px;
  }
}

.component-container {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8) !important;
  box-shadow: -10px 10px 20px #000;
  margin-bottom: 20px;
}

@keyframes gradient {
  0% {
    background-position: 25% 75%;
  }

  /* 25% {
    background-position: 50% 50%;
  } */

  50% {
    background-position: 75% 25%;
  }

  /* 75% {
    background-position: 50% 50%
  } */

  100% {
    background-position: 25% 75%;
  }
}
