<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
  style="min-width: 100vw; width: 100%; position: fixed; z-index: 99;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class='bx bx-camera-movie icon'></i> Films DB</a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation" navbarAutoclose>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/films/list" routerLinkActive="active"><i
              class='bx bx-grid-alt'></i> Listado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/films/top" routerLinkActive="active"><i
              class='bx bx-bar-chart'></i> Top</a>
        </li>
        <li *ngIf="checkAdmin()" class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/films/add" routerLinkActive="active"><i
              class='bx bx-edit-alt'></i> Añadir película</a>
        </li>
        <li *ngIf="!checkLogin(); else loginPage" class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/auth/login" routerLinkActive="active"><i
              class='bx bx-user'></i> Usuario</a>
        </li>
        <ng-template #loginPage>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/auth/details" routerLinkActive="active"><i
                class='bx bx-user'></i> {{ userName }}</a>
          </li>
        </ng-template>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/auth/register" routerLinkActive="active"><i
              class='bx bx-user-plus'></i> Registro</a>
        </li>
      </ul>
      <form id="buscador" class="d-flex" [formGroup]="buscador" (ngSubmit)="buscar()">
        <input class="form-control me-2" type="search" placeholder="Título o Año" aria-label="Search"
          formControlName="termino">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
